<div class="card">
    <h1>Xác minh 2 bước</h1>
    <p>Vui lòng nhập mã OTP</p>
    <p>
        Chúng tôi vừa gửi một tin nhắn văn bản có một mã xác minh tới email của
        bạn
    </p>
    <form action="/auth/verification" method="post">
        <input type="text" name="otp" />
        <button>Gửi</button>
    </form>
</div>
