<div class="card card-primary">
    <!-- <div class="card-header">
        <h3 class="card-title">Thêm người dùng</h3>
    </div>
    /.card-header -->
    <!-- form start -->
    <form action="/admin/user/add" method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="nameUser">Tên người dùng:</label>
                <input
                    type="text"
                    class="form-control"
                    id="nameUser"
                    name="nameUser"
                    placeholder="Nhập tên người dùng"
                />
            </div>
            <div class="form-group">
                <label for="emailUser">Email:</label>
                <input
                    type="email"
                    class="form-control"
                    id="emailUser"
                    name="emailUser"
                    placeholder="Nhập email"
                />
            </div>
            <div class="form-group">
                <label for="phoneUser">Số điện thoại:</label>
                <input
                    type="text"
                    class="form-control"
                    id="phoneUser"
                    name="phoneUser"
                    placeholder="Nhập số điện thoại"
                />
            </div>
            <div class="form-group">
                <label for="addressUser">Địa chỉ</label>
                <input
                    type="text"
                    class="form-control"
                    id="addressUser"
                    name="addressUser"
                    placeholder="Nhập địa chỉ"
                />
            </div>
            <div class="form-group">
                <label for="">Chức vụ:</label>
                <input type="radio" id="typeAdmin" name="typeId" value="1" />
                <label for="typeAdmin">Quản trị</label>
                <input type="radio" id="typeTeacher" name="typeId" value="2" />
                <label for="typeTeacher">Giáo viên</label>
                <input type="radio" id="typeStudent" name="typeId" value="3" />
                <label for="typeStudent">Học viên</label>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Thêm người dùng
            </button>
        </div>
    </form>
</div>
