<div class="card card-primary">
  <form action="/admin/user/add" method="post">
    <div class="card-body">
      <div class="form-group">
        <label for="">Tên khóa học:</label>
        <input type="text" class="form-control" id="" name="" placeholder="Nhập tên khóa học" />
      </div>
      <div class="form-group">
        <label for="">Học phí:</label>
        <input type="email" class="form-control" id="" name="" placeholder="Nhập học phí" />
      </div>
      <div class="form-group">
        <label for="phoneUser">Giảng viên:</label>
        <select class="form-control" name="" id="">
          <option value="">Chọn giảng viên</option>
          <% if(teachers){ %>
          <% teachers.forEach((teacher) => {%>
          <option value=""><%= teacher.name %> - <%= teacher.email %></option>
          <% }) %>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <label for="">Học thử:</label>
        <input type="text" class="form-control" id="" name="" placeholder="Nhập số ngày học thử" />
      </div>
      <div class="form-group">
        <label for="">Sĩ số:</label>
        <input type="text" class="form-control" id="" name="" placeholder="Nhập sĩ số" />
      </div>
      <div class="form-group">
        <label for="">Thời gian:</label>
        <input type="text" class="form-control" id="" name="" placeholder="Nhập thời gian" />
      </div>
      <div class="form-group">
        <label for="">Tài liệu:</label>
        <input type="text" class="form-control" id="" name="" placeholder="Nhập tài liệu" />
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">
        Thêm khóa học
      </button>
    </div>
  </form>
</div>